.container{
    margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;

  h2{
    text-align: center;
    padding-top: 2.5em;
    padding-bottom: 2.2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 30px;
}
}

.flex-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}