<section>
    <form [formGroup]="reactiveForm" (ngSubmit)="OnFormSubmitted()">

        <h3 id="logo">Add Blog</h3>
      
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Type in your name.."  formControlName="name" />
      
        <label for="title">Title</label>
        <input type="text" id="title" name="title" placeholder="Type the title of you blog.." formControlName="title"  required />
        
        <label for="title">Description</label>
        <textarea name="txtarea" id="lined" cols="30"  rows="10" placeholder="...." formControlName="description" ></textarea>
      
        <div class="flex-btn">
            <button  type="submit" name="submit" >Add</button>
        </div>
      
      </form>
</section>